---
import "./header.css";

import { wpquery } from "../../functions/data";
import BagIcon from "../icons/Bag.astro";
import BarsIcon from "../icons/Bars.astro";
import ArrowTopRigth from "../icons/ArrowTopRigth.astro";
import CloseIcon from "../icons/Close.astro";

interface MenuItems {
    label: string;
    path: string;
}

const data = await wpquery({
    query: `
    query HeaderData {
        rankMathSettings {
            meta {
                local {
                    logo {
                        sourceUrl(size: MEDIUM)
                        altText
                        srcSet
                    }
                }
            }
        }
        menuItems {
            nodes {
                label
                path
            }
        }
    }
    `,
});

const { rankMathSettings, menuItems } = data;
const siteLogo = rankMathSettings.meta.local.logo;
---

<script src="./header.js"></script>

<header id="Header" class="max-w-screen-xl mx-auto h-20 relative z-10">
    <main
        class="flex flex-row justify-between items-center py-5 px-3 lg:px-7 lg:pt-10 xl:px-0 xl:py-6 xl:pt-14 z-50"
    >
        <section>
            <a href="/">
                <img
                    class="w-28 md:w-32 aspect-auto"
                    width="130"
                    height="100"
                    src={siteLogo.sourceUrl}
                    alt="GoWell Logo"
                /></a
            >
        </section>
        <section class="flex flex-row items-center gap-x-6 md:gap-x-7">
            <nav
                class="hidden lg:block absolute h-fit inset-0 px-3 pb-6 -z-10 bg-neutral-50 lg:relative lg:bg-transparent lg:z-10 lg:px-0 lg:py-0"
            >
                <ul
                    class="flex flex-col gap-x-6 divide-y divide-neutral-100 font-medium mt-20 pt-3 border-t lg:flex-row lg:top-0 lg:p-0 lg:divide-y-0 lg:z-10 lg:mt-0 lg:pt-3 lg:border-none"
                >
                    {
                        menuItems.nodes.map((item: MenuItems) => {
                            return (
                                <>
                                    <li class="flex flex-row uppercase lg:normal-case mx-2 lg:mx-0">
                                        {item.path === Astro.url.pathname ? (
                                            <a
                                                class="flex-grow py-4 font-bold hover:text-black lg:px-2 lg:py-1"
                                                href={item.path}
                                            >
                                                {item.label}
                                            </a>
                                        ) : (
                                            <a
                                                class="relative flex-grow py-4 lg:px-2 lg:py-1 text-black/80 hover:text-black hover:underline underline-offset-4"
                                                href={item.path}
                                            >
                                                {item.label}
                                                <i class="absolute h-full right-0 inset-y-0 flex flex-col justify-center">
                                                    <ArrowTopRigth className="stroke-neutral-800 text-neutral-500 lg:hidden" />
                                                </i>
                                            </a>
                                        )}
                                    </li>
                                </>
                            );
                        })
                    }
                </ul>
            </nav>
            <section class="flex flex-row gap-x-3.5">
                <a
                    href="/contacto"
                    title="Contacto"
                    class="hidden md:block btn-primary px-3.5 py-2 rounded-lg"
                    >Contacto</a
                >
                <button id="cart" class="btn-primary p-2 rounded-xl">
                    <BagIcon width={26} className=" stroke-white" />
                </button>
                <button
                    id="menuButton"
                    aria-label="Menu principal"
                    class="lg:hidden btn-primary p-2 rounded-xl active:scale-95"
                >
                    <BarsIcon
                        width={26}
                        id="BarsIcon"
                        className=" stroke-white"
                    />
                    <CloseIcon
                        width={26}
                        id="CloseIcon"
                        className=" stroke-white hidden"
                    />
                </button>
            </section>
            <ul class="hidden xl:flex flex-row items-center gap-x-2">
                <li class="font-bold">ES</li>
                <li>|</li>
                <li>EN</li>
            </ul>
        </section>
    </main>
</header>
