---
import { wpquery } from "../functions/data";
import BagIcon from "./icons/Bag.astro";
import BarsIcon from "./icons/Bars.astro";

interface MenuItems {
    label: string;
    path: string;
}

const data = await wpquery({
    query: `
    query HeaderData {
        rankMathSettings {
            meta {
                local {
                    logo {
                        sourceUrl(size: MEDIUM)
                        altText
                        srcSet
                    }
                }
            }
        }
        menuItems {
            nodes {
                label
                path
            }
        }
    }
    `,
});

const { rankMathSettings, menuItems } = data;
const siteLogo = rankMathSettings.meta.local.logo;
---

<style is="global">
    @keyframes nav-in {
        from {
            opacity: 0;
            transform: translateX(-10%);
        }
        to {
            opacity: 1;
            transform: translateX(0);
        }
    }
    .mobile-nav {
        @apply absolute flex-col inset-0 top-20 p-6 bg-neutral-50 min-h-fit shadow-lg -z-10 divide-y divide-neutral-200;
        animation: nav-in 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
    }
    .mobile-nav li {
        @apply text-black/80 py-4;
    }
</style>

<header
    id="Header"
    class="max-w-screen-xl mx-auto h-20 relative z-10 bg-transparent transition-all"
>
    <main
        class="flex flex-row justify-between items-center py-5 px-3 md:py-6 md:pt-14 z-50"
    >
        <section>
            <a href="/">
                <img
                    class="w-28 md:w-32"
                    width="130"
                    height="100"
                    src={siteLogo.sourceUrl}
                    alt="GoWell Logo"
                /></a
            >
        </section>
        <section class="flex flex-row items-center gap-x-6 md:gap-x-7">
            <nav>
                <ul
                    class="hidden lg:flex flex-row gap-x-6 bg-transparent transition-all"
                >
                    {
                        menuItems.nodes.map((item: MenuItems) => {
                            if (item.path === Astro.url.pathname) {
                                return (
                                    <li class="text-black/80">
                                        <a
                                            class="font-bold hover:text-black px-2 py-1"
                                            href={item.path}
                                        >
                                            {item.label}
                                        </a>
                                    </li>
                                );
                            } else {
                                return (
                                    <li>
                                        <a
                                            class="px-2 py-1 text-black/80 hover:text-black hover:underline underline-offset-4"
                                            href={item.path}
                                        >
                                            {item.label}
                                        </a>
                                    </li>
                                );
                            }
                        })
                    }
                </ul>
            </nav>
            <section class="flex flex-row gap-x-3.5">
                <a
                    href="/contacto"
                    title="Contacto"
                    class="hidden md:block btn-primary px-3.5 py-2 rounded-lg"
                    >Contacto</a
                >
                <button id="cart" class="btn-primary p-2 rounded-xl">
                    <BagIcon className=" stroke-white" />
                </button>
                <button
                    aria-label="Menu principal"
                    class="lg:hidden btn-primary p-2 rounded-xl"
                >
                    <BarsIcon id="MenuIcon" className=" stroke-white" />
                </button>
            </section>
            <ul class="hidden md:flex flex-row items-center gap-x-2">
                <li class="font-bold">ES</li>
                <li>|</li>
                <li>EN</li>
            </ul>
        </section>
    </main>
</header>

<script>
    const buttons = document.querySelectorAll("button");
    const header = document.querySelector("Header");
    const nav = document.querySelector("nav ul");

    buttons.forEach((button) => {
        button.addEventListener("click", (event) => {
            if (button.id === "cart") {
                console.log("cart");
            } else {
                header?.classList.remove("bg-transparent");
                header?.classList.toggle("bg-white");

                nav?.classList.remove("flex-row");
                nav?.classList.toggle("hidden");
                nav?.classList.toggle("mobile-nav");
                console.log(nav);
            }
        });
    });
</script>
